<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">jules</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="/#portfolio">Portfolio</a>
        </li>
        <li class="page-scroll">
          <a href="/about">About</a>
        </li>
        <li class="page-scroll">
          <a href="/#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<section id="module" class="module parallax-5">
  <h1>ABOUT ME</h1>
</section>

<div class="container project-content about-me">
  <div class="col-lg-8 col-lg-offset-2">
    <%= image_tag "photo.png", height: "150px", width: "150px", class: "break img-responsive center-block", alt: "Responsive image" %>
    <p>With a background in research and UX, I broker a happy marriage between business needs and user expectations. Here are a few notes about me:</p>
  </div>
</div>

<div class="container project-content">
  <div class="col-lg-8 col-lg-offset-2">
    <h4>I HAVE EMPATHY FOR USERS</h4>
    <p>I'm passionate about UX research because its practice express empathy, asks for a collaborative effort, and promotes functionality.</p>
  </div>
</div>

<div class="container project-content">
  <div class="col-lg-8 col-lg-offset-2">
    <h4>I'M INSATIABLY CURIOUS</h4>
    <p>How can we improve user happiness and experience to increase revenue? How can storytelling foster empathy between diverse people? I enjoy getting closer to the answers through collaboration with my team.</p>
  </div>
</div>

<div class="container project-content">
  <div class="col-lg-8 col-lg-offset-2">
    <h4>I'M A LEFTIE AND RIGHTIE</h4>
    <p>I utilize both sides of the noggin to approach problems creatively and constructively. Flexibility and adaptation is my name game.</p>
  </div>
</div>

<div class="container project-content">
  <div class="col-lg-8 col-lg-offset-2">
    <h4>WORK SUMMARY</h4>
    <%= image_tag "about.png", class: "break img-responsive center-block", alt: "Responsive image" %>
  </div>
</div>

<div class="col-lg-8 col-lg-offset-2">
  <form method="get" action="/download_resume">
    <button type="submit" class="btn link-btn resume-btn">VIEW MY RESUME</button>
  </form>
</div>
